body{
  width: 100%;
  height: 100%;
  margin: 0%;
}

#box{
  width: 100%;
  height: 100%;
  margin: 0%;
}

.bt{
  width: 42%;
  height: 830px;
  margin: 50px;
}
/* 
#bt1{
  background-color: #dddddd;
}

#bt2{
  background-color: #165487;
} */
